@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div {
  box-sizing: border-box;
}
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;

  /* Browsers have different default form fonts */
  font-size: 13px;
  font-family: BauerGroteskOTW03;
}
a {
  text-decoration: none;
  /* color: #707070; */
  color: inherit;
}
ul {
  display: flex;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
/* Remove the stupid outer glow in Webkit */
input:focus {
  outline: 0;
}

/* Box Sizing Reset
-----------------------------------------------*/

/* All of our custom controls should be what we expect them to be */
input,
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type="reset"],
input[type="button"],
input[type="submit"],
input[type="checkbox"],
input[type="radio"],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Text Inputs
-----------------------------------------------*/

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
}

/* Button Controls
-----------------------------------------------*/

input[type="checkbox"],
input[type="radio"] {
  width: 13px;
  height: 13px;
}

/* File Uploads
-----------------------------------------------*/

input[type="file"] {
}

/* Search Input
-----------------------------------------------*/

/* Make webkit render the search input like a normal text field */
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none;
}

/* Buttons
-----------------------------------------------*/

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto;
  cursor: pointer;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}

/* Textarea
-----------------------------------------------*/

textarea {
  /* Move the label to the top */
  vertical-align: top;

  /* Turn off scroll bars in IE unless needed */
  overflow: auto;
}

/* Selects
-----------------------------------------------*/

p {
  margin: 0;
}

select[multiple] {
  /* Move the label to the top */
  vertical-align: top;
}
.image-gallery {
  height: 100%;
}
.image-gallery
  div:not(.image-gallery-bullets-container):not(.image-gallery-bullets),
.image-gallery img {
  height: inherit;
}
.image-gallery .image-gallery-bullets {
  height: auto;
  bottom: 30px;
}
.image-gallery .image-gallery-bullets .image-gallery-bullet.active {
  background-color: #707070;
}
.image-gallery .image-gallery-bullets-container .image-gallery-bullet {
  border: 1px solid #707070;
  box-shadow: none;
}
.image-gallery.white-bullets
  .image-gallery-bullets
  .image-gallery-bullet.active {
  background-color: white;
}
.image-gallery.white-bullets
  .image-gallery-bullets-container
  .image-gallery-bullet {
  border: 1px solid white;
}
.image-gallery
  .image-gallery-content
  .image-gallery-slide
  .image-gallery-image {
  max-height: none;
  object-fit: cover;
}
@font-face {
  font-family: BauerGroteskOTW03-Book;
  src: local(BauerGroteskOTW03-Book),
    url(./assets/fonts/bauer/BauerGroteskOTW03-Book/@font-face/BauerGroteskOTW03-Book.woff2)
      format("woff2"),
    url(./assets/fonts/bauer/BauerGroteskOTW03-Book/@font-face/BauerGroteskOTW03-Book.woff)
      format("woff"),
    url(./assets/fonts/bauer/BauerGroteskOTW03-Book/@font-face/BauerGroteskOTW03-Book.ttf)
      format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: BauerGroteskOTW03;
  src: url("./assets/fonts/bauer/BauerGroteskOTW03-Regular/@font-face/BauerGroteskOTW03-Regular.eot"); /* IE9*/
  src: local(BauerGroteskOTW03-Book),
    url("./assets/fonts/bauer/BauerGroteskOTW03-Regular/@font-face/BauerGroteskOTW03-Regular.woff2")
      format("woff2"),
    /* chrome、firefox */
      url("./assets/fonts/bauer/BauerGroteskOTW03-Regular/@font-face/BauerGroteskOTW03-Regular.woff")
      format("woff"),
    /* chrome、firefox */
      url("./assets/fonts/bauer/BauerGroteskOTW03-Regular/@font-face/BauerGroteskOTW03-Regular.ttf")
      format("truetype");
}
@font-face {
  font-family: ArnoPro-Subhead;
  src: local(ArnoPro-Subhead),
    url(./assets/fonts/arno_pro/ArnoPro-Subhead/@font-face/ArnoPro-Subhead.woff2)
      format("woff2"),
    url(./assets/fonts/arno_pro/ArnoPro-Subhead/@font-face/ArnoPro-Subhead.woff)
      format("woff"),
    url(./assets/fonts/arno_pro/ArnoPro-Subhead/@font-face/ArnoPro-Subhead.ttf)
      format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: ArnoPro-Display;
  src: local(ArnoPro-Display),
    url(./assets/fonts/arno_pro/ArnoPro-Display/@font-face/ArnoPro-Display.woff2)
      format("woff2"),
    url(./assets/fonts/arno_pro/ArnoPro-Display/@font-face/ArnoPro-Display.woff)
      format("woff"),
    url(./assets/fonts/arno_pro/ArnoPro-Display/@font-face/ArnoPro-Display.ttf)
      format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "SpoqaHanSans";
  font-weight: 700;
  src: local("SpoqaHanSans Bold"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansBold.ttf")
      format("truetype");
}

@font-face {
  font-family: "SpoqaHanSans";
  font-weight: 400;
  src: local("SpoqaHanSans Regular"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansRegular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansRegular.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansRegular.ttf")
      format("truetype");
}

@font-face {
  font-family: "SpoqaHanSans";
  font-weight: 300;
  src: local("SpoqaHanSans Light"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansLight.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansLight.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansLight.ttf")
      format("truetype");
}

@font-face {
  font-family: "SpoqaHanSans";
  font-weight: 100;
  src: local("SpoqaHanSans Thin"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansThin.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansThin.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@01ff0283e4f36e159ffbf744b36e16ef742da6d8/Subset/SpoqaHanSans/SpoqaHanSansThin.ttf")
      format("truetype");
}

.ko {
  font-family: "SpoqaHanSans", "SpoqaHanSans JP", "Sans-serif" !important;
}
.react-multi-carousel-list.carousel-container-custom {
  /* min-width: 100%;
  width: 0; */
  flex: 1;
  align-items: normal;
}
h1,
h2,
h3,
h4,
h5,
hr {
  margin: 0;
  font-weight: normal;
  border-bottom: 0;
}

.home .react-multi-carousel-track div,
.home .react-multi-carousel-track ul,
.home .react-multi-carousel-track img,
.home .react-multi-carousel-track li {
  height: 100%;
}
/* 
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #cccccc;
} 
*/

.image-gallery-slide {
  transform: none !important;
  opacity: 0;
}
.image-gallery-slide.center {
  opacity: 1;
}
